# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# MatsuoStation.Com
.DS_Store
.local
Django_Setup.*
BackUp/
MySQL_CSV_Setup.txt
Devs/Projects/Finance/management/
Devs/Projects/Finance/old/*
Devs/Projects/Finance/migrations*/
Devs/Projects/Finance/models.py_*
Devs/Projects/Finance/views_*.py
db.sqlite3
Devs/templates/list_*.html
# Devs/templates/base.html
Devs/templates/invoice00.html
Devs/templates/list00.html
Devs/templates/index00.html
Devs/templates/index_*.html
Devs/templatetags/__*
Devs/templatetags/math.py
Devs/templatetags/K_Filter04.py
Devs/templates/uriage_Def.html
Devs/templates/Bootstarp4_CSV.html

Devs/Guest/
Devs/Tools/
Devs/SHARP/
Devs/ScanXLS/
Devs/Visa/
Devs/static/scss/custom.scss

Devs/Projects/Invoice/old*/
Devs/Projects/SS/old*/
Devs/Projects/LPG/old*/
Devs/Projects/Freee/old*/
Devs/Projects/Freee/migrations*/

Devs/templatetags/old/*
Devs/templates/old/*

Devs/static/*

Freee_Django_AWS_Setup*
Devs01/
Django_Setup_001.txt
Filter04.py
Freee_API_Re.json
LPG_List10.py
LPG_List_False.py
LPG_Meter10.py
MySQL_Data.txt
PDF_List10.py
awsconfig.json

Text/*
.idea/*
Apps/static/*
Def/*
Date04.py
FreeeAPI/*
Json/*
P_Code_50_2015_07_31.txt
freeeconfig.json
freeeconfig.json01
plusfreee_config.json
plusfreee_config00.json
Devs/__init__.py

Devs/.idea/*
Devs/.zprofile
Devs/FreeeAPI_ALLFreee/*
Devs/ALL_150103_201130.csv
Devs/LPG/*
Devs/ScanPDF/*

Devs/Projects/Finance/models_K/*
Devs/Projects/Finance/templatetags/Dev/*
Devs/Projects/Finance/templatetags/__init__.py

Devs/Projects/__init__.py
Devs/Projects/aInvoice/__init__.py
Devs/Projects/aInvoice/OLD/*
Devs/Projects/aInvoice/admin.py
Devs/Projects/aInvoice/migrations/*
Devs/Projects/aInvoice/models.py
Devs/Projects/aInvoice/tests.py
Devs/Projects/aInvoice/OLD/*
Devs/Projects/vInvoice/__init__.py
Devs/Projects/vInvoice/OLD/*
Devs/Projects/vInvoice/admin.py
Devs/Projects/vInvoice/migrations/*
Devs/Projects/vInvoice/models.py
Devs/Projects/vInvoice/tests.py
Devs/Projects/vInvoice/Util/__init__.py

Devs/awscli-bundle
Devs/awscli-bundle.zip
Devs/lambda/*

Devs/static/bootstrap-4.1.1*
